body {
    font-family: URW Chancery L, cursive;
    font-weight: 900;
    margin: 0;
    padding: 0;
    background-image: url('./notes.jpg');
    background-size: 100px 200px;
    background-size: cover;
    background-position: center;
    color: #fdfcfc;
}

h1 {
    color: #f0ecec;
    text-align: center;
    text-decoration: underline;
}

a {
    display: block;
    text-align: center;
    margin: 10px;
    text-decoration: none;
    color: rgb(246, 246, 247);
    font-size: 25px;
}

a:hover {
    color: rgb(246, 240, 243);
}

.select-genre {
    font-size: 18px;
    font-weight: bold;
    color: rgb(237, 237, 242);
    text-decoration: underline;
    text-align: left;
    margin-bottom: 10px;
    display: inline;
}
.select-genre:hover {
    color: rgb(214, 8, 98);
}

.button {
    background-color: rgb(121, 5, 56);
    color: #fdfcfc;
    font-size: 24px;
    font-weight: 900;
    padding: 12px 12px;
    width: 250px;
    margin: auto;
    float: center;
    border: 5px solid #ffffff;
    border-radius: 50px;
    cursor: pointer;
    background-position: center;
    transition: all 0.5s;
    box-shadow: 0 8px 16px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(0,0,0,0.19); 
    display: block;
}

.button:hover {
    color: rgb(214, 8, 98);
    display: block;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.button span {
    cursor: pointer;
    display: block;
    position: relative;
    transition: 0.5s;
  }

  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }