<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music Collection Manager</title>
</head>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1>Welcome to your Music Collection Manager</h1>
<div class="button" >
    <a href="/view_songs" ><span>View Songs </span> </a>
    <a href="/view_albums"><span>View Albums</span></a>
    <a href="/view_artists"><span>View Artists</span></a>
    <a href="/view_playlists"><span>View Playlists</span></a>
    <a href="/upload"><span>Upload Songs</span></a>
    <a href="/collection_statistics"><span>Your Collection Statistics</span></a>
</div>
</body>
</html>
