<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music Collection Manager</title>
</head>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1>Welcome to your Music Collection Manager</h1>
<div class="button" >
    <a href="/view_songs" >View Songs </a>
    <a href="/view_albums">View Albums</a>
    <a href="/view_artists">View Artists</a>
    <a href="/view_playlists">View Playlists</a>
    <a href="/upload">Upload Songs</a>
    <a href="/collection_statistics">Your Collection Statistics</a>
</div>
    
</body>
</html>
